.progress75{
    background-color: #30DB63 !important;
}
.progress50{
    background-color: #60E8B6 !important;
}

.progress25{
    background-color: #60ADE8 !important;
}
.progress0{
    background-color: #7160E8 !important;
}
progress.progress50::-webkit-progress-value {
    background-color: #60E8B6;
 }
 progress.progress75::-webkit-progress-value {
    background-color: #30DB63;
 }
progress.progress25::-webkit-progress-value{
    background-color: #60ADE8;
}
progress.progress0::-webkit-progress-value{
    background-color: #7160E8 ;
}



