<div class="title">
    test technique web-atrio réalisé <br> par barboura Houssem réalisé le 26/07/2023
</div>
<br>
<div class="container">
    <div
        *ngFor="let progress of ListOfProgressBar;let index=index                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         o">
        <div>


            <div>{{progress.name}}</div>
            <span>{{progress?.value}} %</span><app-progress-bar [value]=progress?.value></app-progress-bar>
            <button (click)="deleteProgress(index)">delete</button>
            <button (click)="chnageValueOfItem(index,50)">change value à 50 % </button>
        </div>
    </div>
    <div>


        <button (click)="changeValue('zero')">
            Remetre a zero les compteurs
        </button>
        <button (click)="changeValue('5%')">
            ajouter 5 %
        </button>
        <button (click)="changeValue('10%')">
            ajouter 10 %
        </button>
        <div>
            <button (click)="addProgress()">
                add progress
            </button>
        </div>
    </div>
</div>